<%- include('partials/header') %>
    <main>
        <h1>
            <%= title %>
        </h1>
        <img src="/images/4e438918-6e4b-417a-a64d-59f1db226e18.jpg" alt="Me and my fam">
        <p>Hi! I am Yat! I am from Hong Kong and I am the youngest of 5 in my family.</p>
        <h6>Hobbies and Interest</h6>
        <ul>
            <li>Pickleball</li>
            <li>Anime</li>
            <li>Board Games</li>
        </ul>
    </main>
    <%- include('partials/footer') %>